extends layout
block content

	div.container
		ul.list-group
			each user in users
				li.list-group-item
					h4.list-group-item-heading #{user.username}
					p.list-groug-item-text #{user.email}
					p.list-groug-item-text #{user.password}