doctype 
html
	head 
		title My application
		link(href='/css/bootstrap.min.css', rel="stylesheet")
		link(href='/css/bootstrap-theme.min.css', rel="stylesheet")
	body
		div.jumbotron
			h1 This is my Page
			p how do you like my styling?
		script(src='/scripts/script.js')