doctype
html
	head
		title My Application
		link(href='/css/bootstrap.min.css', rel="stylesheet")
		link(href='/css/bootstrap-theme.min.css', rel="stylesheet")
	body
		div.page-header
			h1 This is my Application
		div.container-fluid
			block content