extends layout
block append head
	script(type='text/javascript', src='/socket.io/socket.io.js')
	
block content
	div.container
			div.panel.panel-default
				div#chatPanel.panel-body(style="height:400px;")
				div.panel-footer
					div
						input#msgInput.form-control(type="text",placeholder="Your mesage Here")			
					div.clearfix(style="margin-top:5px;")
						button#sendBtn.btn.btn-primary.pull-right Send
block endBody
	.modal.fade
		.modal-dialog
			.modal-content
				.modal-header
					h4.modal-title Set Your Nickname
				.modal-body
					input.form-control(type="text",placeholder="Your Nickname")
				.modal-footer
					button.btn.btn-primary(type='button') Submit
	script(type='text/javascript', src='/scripts/chat.js')

