
doctype
html
	head
		title Home page
	body
		div This a home page
		p this a first paragraph
		p 
			|this a second paragraph
			| with multilple lines
			|done!

		a#link(href="/myPage") go to my page 


