html
	head
		title This is my home
	body
		h1 Jade Home Page
		div This is a jade engine homepage
			p 
				|this is a multiline paragragh
				|this line 2 of this paragragh
			a#link.linkClass(href="http://www.sela.co.il",traget="_blank") Sela